<html>
<html lang="en">
<head>
<style>
	/* Always set the map height explicitly to define the size of the div
	 * element that contains the map. */
	#navigation2 {
		height: 70%;
		width: 30%;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}

</style>

<script src='hunter.js'></script>
</head>
<body>

	<canvas id="navigation" width="200" height="200"></canvas>
	<div id="navigation2" width="200" height="200"></div>

<p id="info">---</p>
<p><a onclick="initMap()" href="#">Map</a></p>
<p><a onclick="initCompass()" href="#">Compass</a></p>
</body>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZx_ECIITPEmiXQa_JtMCfagSyyYRE7XA&callback=initMap">
</script>
</html>
