<html>
<html lang="en">
<head>
<link rel="stylesheet" href="hunter.css">
<script src='hunter.js'></script>
</head>
<body onload="initCompass();initMap();setModeMap();">

	<canvas class="navigation" id="navigation" width="200" height="200"></canvas>
	<div class="navigation" id="navigation2" width="200" height="200"></div>

<p id="info">---</p>
<p><a onclick="setModeMap()" href="#">Map</a></p>
<p><a onclick="setModeCompass()" href="#">Compass</a></p>
</body>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZx_ECIITPEmiXQa_JtMCfagSyyYRE7XA">
</script>
</html>
