<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3 onclick="return calcRoute()">My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
    var map;
var directionsDisplay;
var directionsService;
var stepDisplay;
var markerArray = [];
var standort;

      function initMap() {
        if (navigator && navigator.geolocation) {
        var watchId = navigator.geolocation.watchPosition(successCallback,
                                                          errorCallback,
                                                          {enableHighAccuracy:true,timeout:60000,maximumAge:0});

        } else {
          console.log('Geolocation is not supported');
        }




        function errorCallback() {}

        function successCallback(position) {

        	standort = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          var map = new google.maps.Map(document.getElementById('map'), {
            center: standort
          });


  // Instantiate a directions service.
  directionsService = new google.maps.DirectionsService();

  // Create a map and center it on Manhattan.
  var manhattan = new google.maps.LatLng(40.7711329, -73.9741874);
  var mapOptions = {
    zoom: 13,
    center: manhattan
  }

          map = new google.maps.Map(document.getElementById('map'), mapOptions);

          // Create a renderer for directions and bind it to the map.
          var rendererOptions = {
            map: map
          }
          directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)

            // Instantiate an info window to hold step text.
            stepDisplay = new google.maps.InfoWindow();
        }


                  calcRoute = function () {

                    // First, clear out any existing markerArray
                    // from previous calculations.
                    for (i = 0; i < markerArray.length; i++) {
                      markerArray[i].setMap(null);
                    }

                    // Retrieve the start and end locations and create
                    // a DirectionsRequest using WALKING directions.
                    var start = standort
                    var end = new google.maps.LatLng(40.7711329, -73.9741874);
                    var request = {
                        origin: start,
                        destination: end,
                        travelMode: 'WALKING'
                    };

                    // Route the directions and pass the response to a
                    // function to create markers for each step.
                    directionsService.route(request, function(response, status) {
                      if (status == "OK") {
                        var warnings = document.getElementById("warnings_panel");
                        warnings.innerHTML = "" + response.routes[0].warnings + "";
                        directionsDisplay.setDirections(response);
                        showSteps(response);
                      }
                    });
                  }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZx_ECIITPEmiXQa_JtMCfagSyyYRE7XA&callback=initMap">
    </script>
  </body>
</html>
