.overlayCG {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
    }

    .overlayCG-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    padding: 40px;

    }

    .overlayCG a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;

    }

    .overlayCG a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlayCG .closebtn {
        position: absolute;
        top: 10px;
        right: 45px;
        font-size: 60px;
    }

    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

      }
    }
    .facebook-button {
    background: url('facebook-logo.png') left center no-repeat;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-top-color: rgb(212, 63, 58);
    border-right-color: rgb(212, 63, 58);
    border-bottom-color: rgb(212, 63, 58);
    border-left-color: rgb(212, 63, 58);
  }
